################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManagement/EmployeeManagement/bin
/EmployeeManagement/EmployeeManagement/obj/Debug
/EmployeeManagement/.vs
